.header {
   font-family:'Courier New', Courier, monospace;
   font-weight:500;
   font-size: 45pt;
   font-display: flex;
}

.explain {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.instructionParagraph {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.animalForm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}

.formText {
    color: rgb(237, 142, 74);
}

.tableHead {
    font-family:'Courier New', Courier, monospace;
}

.animalTable {
    justify-content: center;
    text-align: center;
    background-color: rgb(237, 142, 24);
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.animalData {
    color: rgb(237, 142, 24);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}